* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.title {
    position: relative;
    top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.subTitle {
    position: relative;
    top: 10px;
    text-align: center;
}

.container {
    margin: 0 auto;

    max-width: 700px;
    min-height: 100vh;

    background-color: rgb(251, 246, 240);
    box-shadow: 0.3px 0.3px 0.3px -1px;
}