.toDOList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 0 auto;
    margin-top: 8px;
    border: 2px solid black;
    width: 80%;
    height: 10px;
    list-style: none;
    font-size: 18px;
    padding: 10px;
}

.checkToDo {
    margin-right: 15px;
}