.todo {
    max-width: 400px;
    min-height: 400px;
    margin: 0 auto;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    list-style: none;
    padding: 8px;
}

.toDoText {
    margin-left: 20px;
    font-size: 16px;
}

.finish {
    text-decoration: line-through;
}

.deleteBtn {
    border: none;
    background-color: #fff;
    cursor: pointer;
}