.todo {
    max-width: 400px;
    min-height: 400px;
    margin: 0 auto;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    list-style: none;
    padding: 12px;
    margin-bottom: 8px;
}

.toDoText {
    margin-left: 20px;
    font-size: 16px;
}

.finish {
    text-decoration: line-through;
}

.deleteBtn {
    border: none;
    font-weight: 530;
    background-color: rgb(251, 246, 240);
    cursor: pointer;
}

.deleteBtn:hover {
    color: red;
}